<section id="section-how" data-bgcolor="#2A2E37" class="text-light">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-center">
                                <h2>Как это работает?</h2>
                                <div class="small-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
</section>