  {{!-- <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Приложение курсов</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if isHome}}
            <li class="active"><a href="/">Главная</a></li>
          {{else}}
            <li><a href="/">Главная</a></li>
          {{/if}}

          {{#if isCourses}}
            <li class="active"><a href="/courses">Курсы</a></li>
          {{else}}
            <li><a href="/courses">Курсы</a></li>
          {{/if}}

          {{#if isAdd}}
            <li class="active"><a href="/add">Добавить курс</a></li>
          {{else}}
            <li><a href="/add">Добавить курс</a></li>
          {{/if}}
      </ul>
    </div>
  </nav> --}}

        <!-- header begin -->
        <header class="header-light transparent">
            <div class="container menu-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <!-- logo begin -->
                                <div id="logo">
                                    <a href="/">
                                        <img alt="" class="logo" src="/images/logonorm.png" />
                                        <img alt="" class="logo-2" src="/images/logonorm.png" />
                                    </a>
                                </div>
                                <!-- logo close -->
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li><a href="/">Главная</a>
<!--                                        <ul>-->
                                            <!-- <li><a href="index.html">Homepage 1</a></li>
                                            <li><a href="index-2.html">Homepage 2</a></li>
                                            <li><a href="index-onepage.html">Onepage 1</a></li>
                                            <li><a href="index-onepage-2.html">Onepage 2</a></li> -->
<!--                                        </ul>-->
                                    </li>
                                    <li><a href="/resume">Резюме</a></li>
                                    <!-- <li><a href="about.html">О нас</a></li> -->

                                    <li><a href="/team">Команда</a>
                                        <!-- <ul>
                                            <li><a href="team.html">Команда</a></li>
                                        </ul> -->

                                        <!-- <ul>
                                            <li><a href="store.html">Все продукты</a></li>
                                            <li><a href="store-single.html">Single Product</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="/prices">Цены</a>
                                        <!-- <ul>
                                            <li><a href="alerts.html">Alerts</a></li>
                                            <li><a href="counters.html">Counters</a></li>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="gallery.html">Галлерея</a></li>
                                            <li><a href="icon-set-1.html">Icon Set 1</a></li>
                                            <li><a href="modal.html">Modal</a></li>
                                            <li><a href="progress-bar.html">Progress Bar</a></li>
                                            <li><a href="steps.html">Шаги</a></li>
                                            <li><a href="tabs.html">Tabs</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                        </ul> -->
                                    </li>
                                    <li><a href="/contacts">Контакты</a></li>
                                </ul>
                                <!-- mainmenu close -->
                            </div>
                            <div class="de-flex-col" id='menu-btn-wrapper'>
                                {{!-- <div class="h-phone md-hide"><span>Нужна&nbsp;Помощь?</span><i class="fa fa-phone"></i>Напиши нам в чат</div>  --}}
                                <span id="menu-btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->