        <div id="topbar" class="text-white bg-color topbar-noborder">
            <div class="container">
                <div class="topbar-left sm-hide">
                    <span class="topbar-widget tb-social ">
                        <a href="https://www.facebook.com/JobSure.ru" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/jobsure.ru/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </span>
                </div>
                <div class="topbar-right">
                    <span class="topbar-widget"><a href="/privacy-policy">Политика конфиденциальности</a></span>
                    <span class="topbar-widget"><a href="/prices">Цены</a></span>
                    <span class="topbar-widget"><a href="/faq">Часто задаваемые вопросы</a></span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>