<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    
    {{> topbar}}
    {{> js-scripts}}

    {{#if isLightMenu}}
        {{> navbar-light}}
    {{else}}
        {{> navbar}}
    {{/if}}
    

    {{{body}}}
    
    {{> footer}}
</body>
</html>