<!DOCTYPE html>
<html lang="en">
    {{> head}}
<body>
    {{> topbar}}
    
    {{#if isLightMenu}}
        {{> navbar-light}}
    {{else}}
        {{> navbar}}
    {{/if}}
    

    {{{body}}}
    
    {{> footer}}
    {{!-- {{> js-scripts}} --}}
</body>
</html>