<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="section-subheader" class="text-light" data-stellar-background-ratio=".2" data-bgimage="url(images/background/bg-subheader-1.jpg) top">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Часто задаваемые вопросы</h1>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            <section id="section-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb30">
                            <div>Техническое интервью</div>
                            <div class="content">
                                <div class="accordion">
                                    <div class="accordion-section">
                                        <div class="accordion-section-title" data-tab="#accordion-1">
                                            Какая квалификация наставника?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-1">
                                            <p>Все наши наставники - это программисты с большим опытом работы, которые проводят собеседования в компании на должности разработчиков. Наставник выбирается вам, исходя из свободного времени наставников и вашей специализации.</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-2">
                                            Сколько по времени длится техническое собеседование?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-2">
                                            <p>Консультация с наставником длится 1-1,5 часа.</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-3">
                                            По каким темам меня будут собеседовать?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-3">
                                            <p>Консультация будет происходить по самым актуальным темам, которые спрашивают на интервью, а также темы будут зависеть от ваших знаний.</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-4">
                                            Есть ли помощь в трудоустройсте в компании после собеседования?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-4">
                                            <p>Да, мы начинаем сотрудничество с компаниями. Если у нас появится подходящая вакансия для вас, мы обязательно свяжем вас с работодателем. Но это не является гарантированным трудоустройством. </p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-5">
                                           Вы можете дать рекомендации для резюме?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-5">
                                            <p>Да, конечно. Мы знаем, как важно начинающим разработчикам в резюме иметь опытного наставника для рекомендации. После собеседования вы можете указать контакты наставника и будущий работодатель сможет с ним связаться, если это потребуется.</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-6">
                                            На какую зарплату я могу рассчитывать после консультации?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-6">
                                            <p>Наши кандидаты после консультаций получают работу, где зарплата на 30% выше желаемой изначально. Мы разумно оцениваем и продаем ваши сильные стороны и знания. Возраст при этом совсем не имеет значения.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb30">
                            <div>Резюме</div>
                            <div class="content">
                                <div class="accordion">
                                    <div class="accordion-section">
                                        <div class="accordion-section-title" data-tab="#accordion-b-1">
                                            Как вы составляете резюме?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-b-1">
                                            <p>Резюме составляется, исходя из ваших достижений и знаний. Составляется индивидуально. После этого даются рекомендации по ответам на отклики работодателя.</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-b-2">
                                            Можно ли составить резюме на английском языке?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-b-2">
                                            <p> Да, по запросу это можно сделать.</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-b-3">
                                            Я совсем новичок, писать нечего. Резюме будет пустым, стоит ли пытаться?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-b-3">
                                            <p>Мы как раз делаем акцент на новичках,у которых не получается устроиться на работу и нет приглашений. А также, чтобы понять свои сильные стороны и в будущем использовать их в работе. Резюме не будет пустым, если вы научились профессии и продолжаете учиться и практиковаться в своих знаниях.  </p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-b-4">
                                            В какое время можно записаться на консультацию по составлению резюме?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-b-4">
                                            <p>В дневное или вечернее время по согласованию(по Москве).</p>
                                        </div>
                                        <div class="accordion-section-title" data-tab="#accordion-b-5">
                                            Как я могу записаться на консультацию?
                                        </div>
                                        <div class="accordion-section-content" id="accordion-b-5">
                                            <p>Вы можете
                                                <a data-wow-delay="1s" href="reservation.html">записаться</a>


                                                на консультацию онлайн на сайте, мы пришлем вам реквизиты для оплаты и проведем консультацию в назначенный день.</p>
                                        </div>
<!--                                        <div class="accordion-section-title" data-tab="#accordion-b-6">-->
<!--                                            How do I choose which mentor is right for me? -->
<!--                                        </div>-->
<!--                                        <div class="accordion-section-content" id="accordion-b-6">-->
<!--                                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sign-in-button-wrapper ">
                            <a class="btn-custom wow fadeInUp scroll-to sign-in-button" data-wow-delay="1s" href="reservation.html">Записаться на консультацию</a>

                        </div>
                    </div>

                </div>

            </section>
        </div>