        <!-- content begin -->
        <div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="section-subheader" class="text-light" data-stellar-background-ratio=".2" data-bgimage="url(images/background/bg-subheader-1.jpg) top">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Шаги по составлению резюме</h1>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- section close -->
            <section id="section-features">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="de_tab tab_steps">
                                <ul class="de_nav owl-carousel owl-theme" id="de_nav_carousel">
                                    <li class="active wow zoomIn" data-wow-delay="0s"><span>Напишите</span>
                                        <div class="v-border"></div>
                                    </li>
                                    <li class="wow zoomIn" data-wow-delay=".4s"><span>Расскажите</span>
                                        <div class="v-border"></div>
                                    </li>
                                    <li class="wow zoomIn" data-wow-delay=".8s"><span>Составляем</span>
                                        <div class="v-border"></div>
                                    </li>
                                    <li class="wow zoomIn" data-wow-delay="1.2s"><span>Поиск</span>
                                        <div class="v-border"></div>
                                    </li>
                                    <li class="wow zoomIn" data-wow-delay="1.6s"><span>Успех</span>
                                        <div class="v-border"></div>
                                    </li>
                                </ul>

                                <div class="de_tab_content" id="de_carousel_content">

                                    <div id="tab1">
                                        Напишите нам как вас зовут, сколько вам лет и есть ли у вас опыт работы в любой области.
                                    </div>

                                    <div id="tab2">
                                      Расскажите о своем опыте и пройденном обучении. Какие курсы проходили, какой опыт работы в программах, изучали ли какие-либо дополнительные материалы. Наши эксперты подскажут вам, требуются ли дополнительные навыки для работы и где им можно обучиться.
                                    </div>

                                    <div id="tab3">
                                        Мы даем обратную связь и составляем вам резюме.
                                        В вечернее или дневное время по согласованию мы проведем консультацию. Поможем проанализировать ваш опыт, выбрать самые ценные факты и грамотно подать. Если вы ищете работу за рубежом, составим резюме сразу на английском языке.
                                    </div>

                                    <div id="tab4">
                                  Вместе корректируем и выставляем на сайты по поиску работы. После консультаций вы получаете, как правило, больше приглашений на интервью и существенно больше откликов на ваше резюме.
                                    </div>

                                    <div id="tab5">
                                        Вы проходите собеседования и устраиваетесь на работу.
                                        Каждая вакансия требует индивидуального подхода. На какую работу вы устроитесь– зависит только от вас, вашего опыта, компетенций и личного обаяния, но мы сделаем все, чтобы вам помочь. Зарплата наших клиентов, как правило, на 30-50 % больше первоначально ожидаемой.
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="sign-in-button-wrapper ">
                            <a class="btn-custom wow fadeInUp scroll-to sign-in-button" data-wow-delay="1s" href="reservation.html">Записаться на консультацию</a>

                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        {{> contact}}

        <!-- content close -->