<div class="no-bottom no-top" id="content">
            <div id="top"></div>
            <!-- section begin -->
            <section id="section-subheader" class="text-light" data-stellar-background-ratio=".2" data-bgimage="url(images/background/bg-subheader-1.jpg) top">
                <div class="center-y relative text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="spacer-single"></div>
                                <h1>Команда</h1>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="sign-in-button-wrapper ">
                        <a class="btn-custom wow fadeInUp scroll-to sign-in-button" data-wow-delay="1s" href="/reservation">Записаться на консультацию</a>
                    </div>
                </div>
            </section>
            <!-- section close -->
            <section class="no-top no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mt80"></div>
                            <span class="p-title">Коуч frontend-разработки, директор</span><br>
                            <h2>
                                Алексей
                            </h2>
                            <p>Мне пришла идея создать такие консультации после того, как мне самому потребовалась помощь в начале карьеры. Сначала меня попросту никто не приглашал на собеседования, так как я был начинающим и я решил глубоко разобраться в вопросе,что я делаю не так. После того как мне исправили резюме, собеседования пошли, но после них оставались вопросы. Не хватало человека, который поможет мне, "поднатаскает". Сейчас я работаю в крупной компании и периодически собеседую и собеседуюсь сам, чтобы понимать рынок. Мир движется вперед и в разных областях все больше и больше требуются разработчики. Я буду рад помочь ребятам найти их путь. Мы заинтересованы в том, чтобы они развивались как профессионалы и знали, на что они на самом деле способны.</p>
                            <div class="social-icons">
                                <!-- <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a> -->
                            </div>
                            <div class="mb80"></div>
                        </div>
                    </div>
                </div>
                <div class="image-container col-md-6 pos-right" data-bgimage="url(images/team/Alexey.jpeg) center"></div>
            </section>
            <section class="no-top no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 offset-md-7">
                            <div class="mt80"></div>
                            <span class="p-title">Карьерный консультант</span><br>
                            <h2>
                                Дарья
                            </h2>
                            <p> Я работаю именно с человеком и его знаниями. Спрашиваю много точечных вопросов, чтобы не упустить ничего. Затем все грамотно упаковываем в резюме, не забывая о рекрутерах, как они будут искать этого сотрудника? Прописываем все ключевые слова и по необходимости добавляем сопроводительное письмо. Все ребята, с кем мы сотрудничали, получили желанную вакансию. Я уверена, что на работе вы будете получать удовольствие и хорошие деньги, вас будут ценить и уважать как сотрудника.</p>
                            <div class="social-icons">
<!--                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>-->
<!--                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>-->
<!--                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>-->
<!--                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>-->
<!--                                <a href="#"><i class="fa fa-rss fa-lg"></i></a> -->
                            </div>
                            <div class="mb80"></div>
                        </div>
                    </div>
                </div>
                <div class="image-container col-md-6" data-bgimage="url(images/team/Daria.jpg) center"></div>
            </section>
            <section class="no-top no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mt80"></div>
                            <span class="p-title">Коуч backend-разработки</span><br>
                            <h2>
                                Никита
                            </h2>
                            <p>Я прошел долгий путь: учился в университете 5 лет, затем долго работал стажером, прежде чем меня взяли младшим разработчиком. Сейчас я работаю в международной компании в Германии. Теперь я знаю, как сделать путь в IT-карьере короче, и немного завидую начинающим разработчикам, ведь сейчас это сделать гораздо проще. Буду рад делиться опытом и прокачивать ваши "скилы" вместе.</p>
                            <div class="social-icons">
                                <!-- <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a> -->
                            </div>
                            <div class="mb80"></div>
                        </div>
                    </div>
                </div>
                <div class="image-container col-md-6 pos-right" data-bgimage="url(images/team/Никита1.jpg) center"></div>
            </section>
            <section class="no-top no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 offset-md-7">
                            <div class="mt80"></div>
                            <span class="p-title">Коуч frontend-разработки</span><br>
                            <h2>
                                Александр
                            </h2>
                            <p>Я окончил курсы по программированию в HTML-academy. Тогда они только-только выпустили свои курсы и такой крупной компании еще не было. Резюме писал сам, но конечно приглашений было меньше, чем  хотелось бы. Устроился в небольшую фирму, спросить, как и что делать было не у кого. Приходилось разбираться самому. Сейчас я сделал бы все по-другому и конечно взял наставника, чтобы помог мне. Буду рад подтянуть ваши знания, чтобы пройти собеседования успешно.</p>
                            <div class="social-icons">
                                <!-- <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a> -->
                            </div>
                            <div class="mb80"></div>
                        </div>
                    </div>
                </div>
                <div class="image-container col-md-6" data-bgimage="url(images/team/Александр.jpg) center"></div>
            </section>
            <section class="no-top no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mt80"></div>
                            <span class="p-title">Коуч backend-разработки</span><br>
                            <h2>
                                Сергей
                            </h2>
                            <p>Сейчас работаю разработчиком на Кипре, до этого несколько лет работал в Москве. Стать тимлидом непросто, это долгий путь. Курсы постоянно запускают новые учебные программы, а после ты не знаешь что делать. Ты нуждаешься в эксперте, помощи на пути становления карьеры. Мне хочется помочь начинающим в разработке, чтобы им было проще начать карьеру. И не только в техническом опыте,а еще дать совет в собеседованиях и понимании процессов в компаниях. Если бы я учился сейчас, был бы определенно рад получить такие знания.</p>
                            <div class="social-icons">
                                <!-- <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a> -->
                            </div>
                            <div class="mb80"></div>
                        </div>
                    </div>
                </div>
                <div class="image-container col-md-6 pos-right" data-bgimage="url(images/team/суп.jpg) center"></div>
            </section>
            <section class="no-top no-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 offset-md-7">
                            <div class="mt80"></div>
                            <span class="p-title">Коуч frontend-разработки</span><br>
                            <h2>
                              Сергей
                            </h2>
                            <p>Могу точно сказать, что такой консультации мне не хватало, когда я только начинал путь программиста. Сейчас на консультации мы разбираем все важные темы, у меня спрашивают непонятные моменты по коду. Когда я только пришел в программирование, мне приходилось все "гуглить",и ответы далеко не всегда находились. Перед важными собеседованиями есть возможность все еще раз обговорить, уточнить с тем, кто в этом больше разбирается. Это очень круто!  </p>
                            <div class="social-icons">
                                <!-- <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                                <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a> -->
                            </div>
                            <div class="mb80"></div>
                        </div>
                    </div>
                </div>
                <div class="image-container col-md-6" data-bgimage="url(images/team/сергейт.jpg) center"></div>
            </section>

            <section id="section-contact" data-bgimage="url(images/background/bg-2.png) bottom #e4e6e9">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h2>Напишите нам</h2>
                                <div class="small-border"></div>
                            </div>
                        </div>

                        <div class="col-md-8 offset-md-2 wow fadeInUp">
                            <form name="contactForm" id='contact_form' class="form-default" method="post" action='email.php'>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div id='name_error' class='error'>Напишите свое имя.</div>
                                        <div>
                                            <input type='text' name='name' id='name' class="form-control" placeholder="Ваше имя">
                                        </div>

                                        <div id='email_error' class='error'>E-mail адрес.</div>
                                        <div>
                                            <input type='text' name='email' id='email' class="form-control" placeholder="Email">
                                        </div>

                                        <div id='phone_error' class='error'>Ваш номер телефона.</div>
                                        <div>
                                            <input type='text' name='phone' id='phone' class="form-control" placeholder="Ваш номер телефона">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id='message_error' class='error'>Расскажите о своем опыте, пройденных курсах и обучении.</div>
                                        <div>
                                            <textarea name='message' id='message' class="form-control" placeholder="Расскажите о своем опыте: пройденных курсах и обучении,проходили ли собеседования "></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <div id='submit'>
                                            <input type='submit' id='send_message' value='Отправить' class="btn-custom">
                                        </div>
                                        <div id='mail_success' class='success'>Ваше сообщение отправлено.</div>
                                        <div id='mail_fail' class='error'>Извините, сообщение не удалось отправить.</div>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>
                </div>

            </section>
            
        </div>